@import "tailwindcss";

:root {
  --font-sans: var(--font-geist-sans);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
